<body>
<h1>ようこそ
<strong>Bookers</strong>
へ！</h1>

  <p><b>Bookers</b>
  では、さまざまな書籍に関するあなたの意見や</p>
  <p>印象を共有し交換することができます</p>
  <a href="/books">start</a>
<!-- <p> %= link_to 'start', '/books' % </p> -->
<!-- RSpecのテストで弾かれた為変更　-->
</body>


<!-- stratを押すと、'/index'へ飛び、本のテーブルとデータ、create画面が出てくるように -->